@charset "utf-8";
/* CSS Document */
.preview-content-cQFom{
 background-image: url(\images\\1611284676849.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-qVjLR{
 background-image: url(\images\\1611284689611.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-cRMzh{
 background-image: url(\images\\1611284705070.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-LuWmJ{
 background-image: url(\images\\1611284716328.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-kwKll{
 background-image: url(\images\\1611284729195.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-nkrad{
 background-image: url(\images\\1611284735729.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}