@charset "utf-8";
/* CSS Document */
.preview-content-rMNHv{
 background-image: url(\images\\г╟ят.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}