@charset "utf-8";
/* CSS Document */
.preview-content-hOTml{
 background-image: url(\images\\1611285096854.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-kenoB{
 background-image: url(\images\\1611285110368.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-bVjfK{
 background-image: url(\images\\1611285120967.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-Qhcae{
 background-image: url(\images\\1611285133545.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-rkPtt{
 background-image: url(\images\\1611285142780.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-rqCOg{
 background-image: url(\images\\1611285149267.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-cXDTH{
 background-image: url(\images\\1611285155943.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-PYRVb{
 background-image: url(\images\\1611285162328.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}