@charset "utf-8";
/* CSS Document */
.preview-content-GvKqU{
 background-image: url(\images\\1611370291617.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-FAcYj{
 background-image: url(\images\\1611370293778.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-dYjaC{
 background-image: url(\images\\1611370295657.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-UEpjT{
 background-image: url(\images\\1611370297126.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-FiGPD{
 background-image: url(\images\\1611370298383.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-KdGTs{
 background-image: url(\images\\1611370299402.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-VVrMO{
 background-image: url(\images\\1611370300319.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-gjDYM{
 background-image: url(\images\\1611370301172.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-mrGfn{
 background-image: url(\images\\1611370301847.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-YwPtk{
 background-image: url(\images\\1611370302483.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-jqUPx{
 background-image: url(\images\\1611370303123.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-ooeMd{
 background-image: url(\images\\1611370303796.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-hFShI{
 background-image: url(\images\\1611370304635.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}