@charset "utf-8";
/* CSS Document */
.preview-content-umvrC{
 background-image: url(\images\\1611284865189.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-tAwsD{
 background-image: url(\images\\1611284875506.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-eGfhy{
 background-image: url(\images\\1611284881896.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-ARcTW{
 background-image: url(\images\\1611284888200.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-gQlPE{
 background-image: url(\images\\1611284894770.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-wseVL{
 background-image: url(\images\\1611284901717.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}