/*

* @Date:   2018-08-22 16:43:23
* @Last Modified by:   liangzhiguo
* @Last Modified time: 2018-10-24 09:18:34
*/
.chartselet{
    /* background: #f4f7fa; */
    height: 1.2rem;z-index: 90;}
.chartselet_1{
    /* background: #f4f7fa; */
    height: 1.2rem;z-index: 90;}
#excelHead{width: 85%;display: inline-block; height: 30px;
    /* background: #fff; */
    border-radius: 27px;line-height: 30px;padding-left: 20px;box-sizing: border-box;font-size: 0.3rem;box-shadow: 0px 0px 8px 0px rgba(68, 130, 239, 0.1);
    color: #e53935;
    background: url(../images/select_down.png) right 10px center #fff no-repeat;background-size: 10px}
#excelHead_1{
    width: 97%;display: inline-block; height: 30px;
    /* background: #fff; */
    border-radius: 27px;line-height: 30px;padding-left: 20px;box-sizing: border-box;font-size: 0.3rem;box-shadow: 0px 0px 8px 0px rgba(68, 130, 239, 0.1);
    color: #e53935;
    background: url(../images/select_down.png) right 10px center #fff no-repeat;background-size: 10px}
.tabMenu li{color: #d4dee8}
.draft_title{margin-top: 20px}
.draft_title_1{margin-top: 20px}
/*.page{display: none}*/
.tabMenu{box-shadow: 0px 0px 8px 0px rgba(68, 130, 239, 0.1)}
 .line {
        padding: 0rem 0.3rem
    }
.charts{
    -webkit-tap-highlight-color: transparent; 
    user-select: none; 
    position: relative; 
    /* width: 414px; */
    height: 358px !important;
    border-width: 0px; cursor: pointer;
}
.iframe{
    overflow: auto;
    width: 100%;
    margin-bottom: 3rem;
    height: 10rem;
}
    .budget {
        border: none;
    }

    .table_h {
        background: #3f7eee;
        color: #fff;
    }

    .tip {
        font-size: 0.3rem;
        width: 100%;
        text-align: center;
        margin-top: 30%;
    }

    #btn {
        width: 96%;
        height: 0.6rem;
        float: left;
        font-size: 0.3rem;
        text-align: center;
        background: #3f7eee;
        margin-left: 2%;
        line-height: 0.6rem;
        margin-bottom: 0.3rem;
        color: #fff
    }

    .Select {
        position: absolute;
        right: 20px;
        z-index: 2000;
        background: url(../images/time_jt.png) no-repeat right;
        padding-right: 20px;
        background-size: 22%
    }


    .timeTip {
        width: 100%;
        /* height: 300px; */
        background: #fff;
        position: absolute;
        right: 0px;
        display: none;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        color: #333;
        font-size: 0.3rem;
        top: 48px;
        z-index: 9999;
    }

    .timeZZ {
        width: 100%;
        height: 100%;
        position: fixed;
        background: #666;
        background: rgba(0, 0, 0, 0.4);
        top: 0;
        left: 0;
        opacity: 1;
        visibility: hidden;
        z-index: 1110;
        transition: opacity .3s;
        z-index: 2000
    }

    #title {
        width: 50%;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .optStyle {
        width: 70%;
        background: none;
        border: none;
        border-bottom: 1px solid #eee;
        outline: none;
    }
    
    #selectOp {
        color: #959595
    }

    #tabUl li.active:nth-child(1) span {
        background: url(../images/datab1.png) center top / 0.7rem no-repeat;
        border-bottom: 2px solid #fff;
        padding-bottom: 0.2rem;
    }

    #tabUl li:nth-child(1) span {
        background: url(../images/datab01.png) center top / 0.7rem no-repeat;
        border-bottom: 2px solid #fff;
        padding-bottom: 0.2rem;
    }

    #tabUl li.active:nth-child(2) span {
        background: url(../images/datab2.png) center top / 0.7rem no-repeat;
        border-bottom: 2px solid #fff;
        padding-bottom:  0.2rem;
    }

    #tabUl li:nth-child(2) span {
        background: url(../images/datab02.png) center top / 0.7rem no-repeat;
        border-bottom: 2px solid #fff;
        padding-bottom: 0.2rem;
    }

    #tabUl li:nth-child(3) span {
        background: url(../images/datab03.png) center top / 0.7rem no-repeat;
        border-bottom: 2px solid #fff;
        padding-bottom:  0.2rem;
    }

    #tabUl li.active:nth-child(3) span {
        background: url(../images/datab3.png) center top / 0.7rem no-repeat;
        border-bottom: 2px solid #fff;
        padding-bottom:  0.2rem;
    }

    .tabMenu span {
        line-height: .35rem;
        display: inline-block;
        padding-top: 0.9rem;
        margin-top: 0.2rem;
        margin-bottom: 0rem;
        font-size: 0.3rem;
    }

    #table_select {
        border: 1px solid #cdddf8;
        margin: 0 9px;
        width: 94%;
        margin-left: 3%;
        margin-bottom: 15px;
        background: url(../images/select_jt.png) no-repeat;
        background-size: 2%;
        background-position: right 10px center;
        border-radius: 0.3rem;
    }

    #table_select div {
        color: #3e7eef;
        background: none;
        padding-left: 5px;
        width: 90%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .tableConten table {
        background: url(../images/watermark.png) left center/180px;
    }

    body .layui-m-layer-winning-class .layui-m-layercont {
        padding: 0
    }
    .tableDw{margin-top: 14px}

    /* #gbox_dg {
    width: 10.0rem !important;
    } */