@charset "utf-8";
/* CSS Document */
.preview-content-HMTvK{
 background-image: url(\images\\1611285420418.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-GGsyq{
 background-image: url(\images\\1611285426704.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-xDMVY{
 background-image: url(\images\\1611285444112.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-bCkrU{
 background-image: url(\images\\1611285458372.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-AdjFE{
 background-image: url(\images\\1611285465365.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-nyFIr{
 background-image: url(\images\\1611285471743.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-RKXbu{
 background-image: url(\images\\1611285478548.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}
.preview-content-PVBjt{
 background-image: url(\images\\1611285491795.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-color: rgba(251,251,251,1.00);
 margin-bottom: 2px;
 cursor:url(../../resources/favicon/read-cursor.ico),auto;
 height:auto;
 background-size:contain;
}